<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../imgs/game.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="main.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="app">
   <div class="myBorder">
    <h1 class="loginH">Login</h1>
    <div class="inputEmail"> 
        <h2>Seu Email</h2>
       <input type="email" id="myEmail" v-model="input_email" placeholder="seuemail@gmail.com">
    </div>
    <div class="inputPassword">
 <h2>Sua Senha</h2>
        <input type="text"  id="myPassword" v-model="input_password" placeholder="123456789" >
    </div>
    <span class="myLogin">
        
 <input type="submit"  value="Login" id="inputLogin" @click="submitLogin">
<div class="borderSetup">
    <p>Não possui cadastro?</p> <input type="button" value="Cadastre-se" id="inputCad">
</div>
</div>
</div>

</body>
</html>
